{% extends "accounts/component/page.html" %}

{% block title %}
    Reset password - confirm
{% endblock %}

{% block content %}
    <div class="content-width d-flex flex-column">
        <h1 class="my-4">reset password</h1>

        <div class="card">
            {% if validlink %}
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                        Please enter (and confirm) your new password.
                    </h6>
                    <form method="post" action="" novalidate>
                        {% csrf_token %}
                        {% include "accounts/component/form_field.html" with field=form.new_password1 input_type="password" %}
                        {% include "accounts/component/form_field.html" with field=form.new_password2 input_type="password" %}
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <p class="form-text text-danger">
                                    {{ error }}
                                </p>
                            {% endfor %}
                        {% endif %}
                        <input class="btn btn-primary mt-2" type="submit" value="Change password">
                        <input type="hidden" name="next" value="{{ next }}">
                    </form>
                </div>
            {% else %}
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                        Password reset failed.
                    </h6>
                    <p class="card-text">
                        This password reset link is invalid, possibly because it has already been used.
                        Please request a new <a class="card-link" href="{% url 'password_reset' %}">password reset</a>.
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
