{% extends "accounts/component/page.html" %}

{% block title %}
    Password reset
{% endblock %}

{% block content %}
    <div class="content-width d-flex flex-column">
        <h1 class="my-4">reset password</h1>

        <div class="card">
            <div class="card-body">
                <form method="post" action="" novalidate>
                    {% csrf_token %}
                    {% include "accounts/component/form_field.html" with field=form.email input_type="email" %}
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="form-text text-danger">
                                {{ error }}
                            </p>
                        {% endfor %}
                    {% endif %}
                    <input class="btn btn-primary mt-2" type="submit" value="Reset password">
                    <input type="hidden" name="next" value="{{ next }}">
                    <p class="card-text mt-2">Back to <a class="card-link" href="{% url 'login' %}">login</a></p>
                </form>
            </div>
        </div>

        {% if messages %}
            {% for message in messages %}
                {% include "accounts/component/message.html" with message=message %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
